* {
  box-sizing: border-box;
  font-family: 'PingFang TC', 'Open Sans', '微軟正黑體', sans-serif;
  outline: none;
  touch-action: manipulation;
}

html,
body {
  padding: 0;
  font-size: 1em;
  margin: 0;
  background-color: #fff;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* stylelint-disable property-no-vendor-prefix */
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
}

// for input auto complete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #1a1a1a;
  box-shadow: 0 0 0 30px #fff inset;
}

textarea {
  appearance: none;
  border-radius: 0;
}

::placeholder {
  color: #a8a8a8;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a::after,
a::before {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

img,
img::after,
img::before {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}
